.RegisterContainer {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* Left */
.RegisterContainer .RegisterContainerLeft {
    width: 60%;
    height: 100%;
}

.RegisterContainer .RegisterContainerLeft img {
    width: 90%;
    height: 100%;
    object-fit: cover;
}

/* Right */
.RegisterContainer .RegisterConatinerRight {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.RegisterContainer .RegisterConatinerRight .EntradaRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 95%;
    border-radius: 2%;
    background: #ffffff00;
    box-shadow: 0 10px 20px 0 rgba(31, 38, 135, 0.3);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
}

.RegisterContainer .RegisterConatinerRight .EntradaRegister::before {
    content: "";
    position: absolute;
    width: 100%;
    border-top: solid 4px #00ff26;
    background: #00ff26;
    border-radius: 2%;
    z-index: -1;
    top: -4px;
}


/* Header */
.RegisterContainer .RegisterConatinerRight .RegisterHeader {
    position: absolute;
    background: #00ff26;
    filter: drop-shadow(0px 2px 1px rgba(226, 231, 227, 0.767));
    width: 30%;
    height: 10%;
    top: -4px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RegisterContainer .RegisterConatinerRight .RegisterHeader:hover {
    background: #fff;
}


.RegisterContainer .RegisterConatinerRight .RegisterHeader span {
    position: absolute;
    width: 100%;
    height: 10%;
    margin-top: .5rem;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    top: 0px;
}

/* Form */
.FormRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
}

.FormRegister input {
    width: 100%;
    height: 2.5rem;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: none;
    border-bottom: 1px solid #00ff26;
    border-radius: 5px;
    background: #ffffff00;
    box-shadow: 0 10px 18px -8px rgba(31, 38, 135, 0.3);
    color: #fff;
    font-size: 1em;
    outline: none;
}

.FormRegister input::placeholder {
    color: #ffffff09;
    font-size: .8rem;
}

.InputWithIcon {
    position: relative;
    width: 100%;
}

.InputIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
}

form .InputWithIcon:focus-within .InputIcon {
    color: #00ff26;
}

.FormLogin input[type="text"],
.FormLogin input[type="password"] {
    padding-left: 1rem;
}

/* Mostrar Senha */
.CheckBox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top: 1rem;
}

.CheckBox input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
    width: .8rem;
}

.CheckBox label {
    margin: 0;
    font-size: .6em;
    color: #666;
}

.CheckBox label:hover {
    color: #5c73db;
    text-decoration: underline;
    cursor: pointer;
}

/* Esqueceu senha */
.EsqueseuSenha {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
    font-size: 1em;
    color: #ffffff63;
}

.EsqueseuSenha:hover {
    color: #5c73db;
    text-decoration: underline;
}

/* Button */
.BtnRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 30%;
    height: 2rem;
    margin: .5rem;
    border: none;
    border-radius: 5px;
    background: #00ff26;
    border-bottom: solid 2px #fff;
    border-radius: 5px;
    color: #000;
    font-size: 1em;
    line-height: 8px;
    cursor: pointer;
    outline: none;
}

.BtnRegister:hover {
    background: #fff;
    color: #000;
    border-bottom: solid 2px #00ff26;
    border-radius: 5px;
}


/* Ou */
.Divider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;

    font-size: 1em;
    color: #ffffff63;
}

.DividerLine {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
}

.DividerText {
    padding: 0 10px;
    color: #777;
}

/* Redes Sociais */
.SocialRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 30%;
    height: 2rem;
}

.BtnGoogleRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    outline: none;
}

.BtnGoogleRegister:hover,
.BtnFacebookRegister:hover {
    border: solid 2px #00ff26;
    filter: drop-shadow(0px 1px 1px rgba(226, 231, 227, 0.767));
}

.BtnFacebookRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background: #3b5998;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    outline: none;
}

.BtnFacebookRegister img {
    width: 1.5rem;
    height: 1.5rem;
}

/* Criar Contar*/
.RegisterFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    font-size: 1em;
    color: #ffffff63;
}

.RegisterFooter span {
    margin-right: 1rem;
}

.RegisterFooter a {
    color: #5c73db;
}

.LoginFooter a:hover {
    text-decoration: underline;
}


/*  Alet */
.alert {
    position: fixed;
    top: 50%;
    left: 40%;
    font-size: .7em;
    color: red;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 8px 15px;
    z-index: 1000;
}


.success {
    position: fixed;
    top: 50%;
    left: 40%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .7em;
    color: #00ff26;
    padding: 8px 15px;
    z-index: 1000;
}