section.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 75vh;
    margin: 2rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.120);
}

/* Conatiner Geral */
section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
   
}

/* Container Left */
section .container-left {
    width: 50%;
    height: 100%;
}

/* Textos */
section .container-left h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

section .container-left p {
    font-size: 1rem;
    color: #333;
}


/* Seta */
section .setabutton {
    width: 50%;
    height: 50%;
    margin: auto;
}

section .setabutton img {
    width: 100%;
    height: 100%;
}

/* Botão */
section button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 1rem;
    background: #407BFF;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

section button:hover {
    background: #2E5BFF;
}

section div.button-busca button p {
    margin: auto;
    font-size: 1rem;
    color: #fff;
    filter: drop-shadow(0 .1rem 0 #000);
}

section div.button-busca button i {
    display: flex;
    font-size: 1.5rem;
    color: #fff;
    filter: drop-shadow(0 .1rem 0 #000);
}


/* Container Right */
section .container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background: transparent;
}

section .container-right img {
    width: 80%;
    height: 80%;
   
}