.Container {
    width: calc(100% - 100px);
    height: 100%;
    padding: 1rem;
    padding-top: 2rem;
}

/* Aplicando MediaQuery */
@media only screen and (max-width: 525px) {
    .Container {
        width: calc(100% - 68px);
    }
} 