main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

main .MainCardsContainer {
    background: #000;
    border-radius: 10px;
    overflow-y: hidden;
    max-width: 250px;
    max-height: 300px;
    min-width: 200px;
    min-height: 300px;
    padding-bottom: 20px;
    margin: 15px 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 0 2px #00ff26;
    flex: 0 0 calc(33.33% - 20px);
}

main .MainCardsContainer img {
    max-width: 100%;
    height: 10rem;
    min-width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

main .MainCardsContainer .Creditos {
    display: flex;
    align-items: center;
    justify-content: start;
    color: #fff;
    font-size: .8rem;
    margin: 0 1rem;

}

main .MainCardsContainer a {
    color: #fff;
    font-size: .5rem;
    margin: 0 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.MainCardsContainer .CardsName {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    margin-top: 10px;
}

.MainCardsContainer .CardsName h2 {
    font-size: .6rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    border-bottom-left-radius: 5px;
}

.MainCardsContainer .CardsName .CardsIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.MainCardsContainer .CardsName .CardsIcon i {
    color: #00ff26;
    font-size: 1vw;
    cursor: pointer;
}

.MainCardsContainer .CardsName .CardsIcon i span {
    color: #fff;
    font-size: 0.5rem;
    letter-spacing: 2px;
    margin-left: .3rem;
}

.MainCardsContainer .CardsStatus {
    columns: 2;
    column-rule: solid 1px #00ff26;
    text-align: center;
    gap: 1em;
    margin: 2rem 0;
}

.MainCardsContainer .CardsStatus p {
    font-size: 0.4em;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.MainCardsContainer .CardsStatus p span {
    display: block;
    font-size: .4em;
    color: #00ff26;

}



/* Button do crads*/
.MainCardsContainer .CardsButton {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;

}

.MainCardsContainer .CardsButton a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #fff;
    border-radius: 5px;
    width: 4rem;
    height: 1rem;
    text-transform: uppercase;
    letter-spacing: 2PX;
}

.MainCardsContainer .CardsButton a.LanceButton {
    font-size: .5rem;
    background: #00ff26;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}

.MainCardsContainer .CardsButton a.LanceButton:hover {
    background: #fff;
}

.MainCardsContainer .CardsButton a.SobreButton {
    font-size: .4rem;
    background: transparent;
    border: none;
    border-bottom: solid 1px #00ff26;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
}

.MainCardsContainer .CardsButton a.SobreButton:hover {
    background: #fff;
    color: #000;
}


/* Aplicando MediaQuery */
@media only screen and (max-width: 525px) {
    main .MainCardsContainer {
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        min-height: 100%;
        margin: 1rem auto;
    }

    /* Creditos*/
    main .MainCardsContainer .Creditos {
        font-size: 1rem;
    }

    main .MainCardsContainer a {
        font-size: 1rem;
    }

    /* Txt Cards*/
    .MainCardsContainer .CardsName h2 {
        font-size: 1rem;
    }

    .MainCardsContainer .CardsName .CardsIcon i {
        font-size: 1rem;
    }

    .MainCardsContainer .CardsName .CardsIcon i span {
        color: #fff;
        font-size: .8rem;
    }

    .MainCardsContainer .CardsStatus p {
        font-size: .7rem;
    }

    .MainCardsContainer .CardsStatus p span {
        font-size: .6rem;

    }
}

@media only screen and (min-width: 526px) and (max-width: 800px) {
    main .MainCardsContainer {
        max-width: 90%;
        max-height: 500px;
        min-width: 90%;
        min-height: 500px;
        margin: .5rem auto;
    }

    main .MainCardsContainer img {
        max-width: 100%;
        height: 15rem;
        min-width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    /* Creditos*/
    main .MainCardsContainer .Creditos {
        font-size: 1.2rem;
    }

    main .MainCardsContainer a {
        font-size: 1rem;
    }

    /* Txt Cards*/
    .MainCardsContainer .CardsName h2 {
        font-size: 2rem;
    }

    .MainCardsContainer .CardsName .CardsIcon i {
        font-size: 2rem;
    }

    .MainCardsContainer .CardsName .CardsIcon i span {
        color: #fff;
        font-size: 1rem;
    }

    .MainCardsContainer .CardsStatus p {
        font-size: 1rem;
    }

    .MainCardsContainer .CardsStatus p span {
        font-size: 1rem;

    }

    /* Button do crads*/
    .MainCardsContainer .CardsButton a {
        width: 8rem;
        height: 2rem;
    }

    .MainCardsContainer .CardsButton a.LanceButton {
        font-size: 1.2rem;
    }

    .MainCardsContainer .CardsButton a.SobreButton {
        font-size: 1rem;
    }

}

@media only screen and (min-width: 800px) and (max-width: 900px) {
    main .MainCardsContainer {
        max-width: 350px;
        max-height: 500px;
        min-width: 350px;
        min-height: 500px;
        margin: .5rem auto;
    }

    main .MainCardsContainer img {
        max-width: 100%;
        height: 15rem;
        min-width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    /* Creditos*/
    main .MainCardsContainer .Creditos {
        font-size: 1.2rem;
    }

    main .MainCardsContainer a {
        font-size: 1rem;
    }

    /* Txt Cards*/
    .MainCardsContainer .CardsName h2 {
        font-size: 2rem;
    }

    .MainCardsContainer .CardsName .CardsIcon i {
        font-size: 2rem;
    }

    .MainCardsContainer .CardsName .CardsIcon i span {
        color: #fff;
        font-size: 1rem;
    }

    .MainCardsContainer .CardsStatus p {
        font-size: 1rem;
    }

    .MainCardsContainer .CardsStatus p span {
        font-size: 1rem;

    }

    /* Button do crads*/
    .MainCardsContainer .CardsButton a {
        width: 8rem;
        height: 2rem;
    }

    .MainCardsContainer .CardsButton a.LanceButton {
        font-size: 1.2rem;
    }

    .MainCardsContainer .CardsButton a.SobreButton {
        font-size: 1rem;
    }

}