.category-input {
    display: flex;
    width: 100%;    
}

.category-input select {
    width: 100%;
}

.add-category-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    background: blue;
    letter-spacing: 2px;
    cursor: pointer;
}

.add-category-link:hover {
    background: #00ff26;
    color: black;
    border: solid 1px #fff;
    
}

.add-category-icon {
    font-size: 1.5rem;
    
}