.LoginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* Left */
.LoginContainer .LoginContainerLeft {
    width: 50%;
    height: 100%;
}

.LoginContainer .LoginContainerLeft img {
    width: 100%;

}

/* Right */
.LoginContainer .LoginConatinerRight {
    width: 50%;
    height: 95%;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.LoginContainer .LoginConatinerRight .EntradaLogin {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 18px -8px rgba(31, 38, 135, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    z-index: 1;
}

.LoginContainer .LoginConatinerRight .EntradaLogin::before {
    content: "";
    position: absolute;
    width: 100%;
    border-top: solid 2px #00ff26;
    background: #00ff26;
    border-radius: 10px;
    z-index: -1;
    top: -4px;
}


/* Header */
.LoginContainer .LoginConatinerRight .LoginHeader {
    position: absolute;
    background: #00ff26;
    filter: drop-shadow(0px 2px 1px rgba(226, 231, 227, 0.767));
    width: 30%;
    height: 10%;
    top: -4px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginContainer .LoginConatinerRight .LoginHeader:hover {
    background: blue;
}


.LoginContainer .LoginConatinerRight .LoginHeader span {
    position: absolute;
    width: 100%;
    height: 10%;
    margin-top: 10px;
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    top: 0px;
}

/* Form */
.FormLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.FormLogin input {
    width: 100%;
    height: 2.5rem;
    margin: 0.5rem 0;
    padding: 0 1rem;
    border: none;
    border-bottom: 1px solid #00ff26;
    border-radius: 5px;
    box-shadow: 0 10px 18px -8px rgba(31, 38, 135, 0.3);
    font-size: 1em;
    outline: none;
}

.FormLogin input::placeholder {
    color: #00000098;
    font-size: .8rem;
}

.InputWithIcon {
    position: relative;
    width: 100%;
}

.InputIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    color: #00ff26;
    filter: none;
}

.FormLogin input[type="text"],
.FormLogin input[type="password"] {
    padding-left: 1rem;
}

/* LoginStyles.css */
.iconStyle {
    font-size: 2rem;
}

/* Mostrar Senha */


/* Button */
.BtnLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 80%;
    height: 2rem;
    margin: .5rem;
    border: none;
    border-radius: 5px;
    background: #00ff26;
    border-bottom: solid 2px #fff;
    border-radius: 5px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    line-height: 8px;
    cursor: pointer;
    outline: none;
}

.BtnLogin:hover {
    background: #fff;
    color: #000;
    border-bottom: solid 2px #00ff26;
    border-radius: 5px;
}


/* Ou */
.Divider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-size: 2rem;
}

.DividerLine {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
}

.DividerText {
    padding: 0 10px;
    color: #000;
}

/* Criar Contar*/
.LoginFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: .5rem;
    margin-top: 1rem;
    font-size: 1em;
}

.LoginFooter span {
    margin-right: 1rem;
    color: #000;
}

.LoginFooter a {
    color: blue;
}

.LoginFooter a:hover {
    text-decoration: underline;
}