@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

.MainContainer {
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    padding-top: 1rem;
}


/* Latereal esquerda da pagina*/
.MainContainer .left {
    width: calc(100% - 30%);
    overflow-y: scroll;
    transition: all a.3s cubic-bezier(0.17, 0.81, 0.38, 1.39);
}

.MainContainer .left::-webkit-scrollbar {
    display: none;
}


/* Banner*/
.MainContainer .left .Banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 60rem;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: grab;
    border: solid 1px #00ff26;
}

.MainContainer .left .Banner .BannerImg {
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 0.3s cubic-bezier(0.01, 0.85, 0.94, 0.42);
}

.MainContainer .left .Banner .BannerImg .ImgItem {
    position: relative;
    flex: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MainContainer .left .Banner .BannerImg .ImgItem img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    pointer-events: none;
}




/* Txt sobre o Banner */
.MainContainer .left .Banner .TextContainer {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    align-items: start;
    /* background-color: #000; */
}

.MainContainer .left .Banner .TextContainer h1 {
    color: #00ff26;
    font-size: 2vw;
    font-weight: 700;
    font-family: "Russo One", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 5px;
    grid-column: 1 / span 2;
    text-shadow: 3px 1px 1px #000;
}

.MainContainer .left .Banner .TextContainer h2 {
    font-size: 1.5vw;
    font-family: "Russo One", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 5px;
    color: #00ff26;
    text-shadow: 3px 1px 1px #000;
}

.MainContainer .left .Banner .TextContainer p {
    font-size: .8vw;
    font-family: "Russo One", sans-serif;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}


/* Cards Geral*/
.ContainerCards {
    background: #ffffff04;
    box-shadow: -1px 2px 10px 0 rgba(31, 38, 135, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}

.ContainerCards .Filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 2rem;
    border-bottom: 1px solid #00ff26;
    border-radius: 5px;
}

.ContainerCards .Filters .Populares {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ContainerCards .Filters .Populares h2 {
    font-size: 1.5vw;
    font-family: "Russo One", sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: #00ff26;
    margin-right: 1rem;
}

.Populares .FilterButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
}

.Populares .FilterButtons button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background: transparent;
    padding: .3rem;
}

.Populares .FilterButtons button:hover {
    background: #00ff26;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
}

.Populares .FilterButtons button a {
    width: 100%;
    height: 100%;
    font-size: .6vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    margin: 0 0.5rem;
}

.Populares .FilterButtons button a:hover {
    color: #000;
}

/* Lateral direita da pagina */
.MainContainer .Right {
    width: calc(100% - 70%);
    padding: 0 10px;
    padding-left: 20px;
    transition: all a.3s cubic-bezier(0.17, 0.81, 0.38, 1.39);
    overflow-y: scroll;
}

.MainContainer .Right::-webkit-scrollbar {
    display: none;
}

/* APlicando MediaQuery */
@media only screen and (max-width: 525px) {
    .MainContainer {
        flex-direction: column;
        height: auto;
    }

    .MainContainer .left {
        width: 100%;
    }

    .MainContainer .left .Banner {
        height: 100px;
    }

    .MainContainer .left .Banner .TextContainer h1 {
        font-size: .6rem;
    }

    .MainContainer .left .Banner .TextContainer h2 {
        font-size: 1rem;
    }

    .MainContainer .left .Banner .TextContainer p {
        display: none;
    }

    /* Cards Geral*/
    .ContainerCards .Filters {
        padding: 2px 0;
    }

    .ContainerCards .Filters .Populares {
        margin: 0 10px;
    }

    .ContainerCards .Filters .Populares h2 {
        font-size: 1rem;
        margin-right: 0;
    }

    .Populares .FilterButtons {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: .8rem;
    }

    .Populares .FilterButtons button {
        padding: 0;
    }

    .Populares .FilterButtons button:hover {
        background: #00ff26;
        border-radius: 5px;
        transition: all 0.3s;
        cursor: pointer;
    }

    .Populares .FilterButtons button a {
        font-size: 2vw;
        margin: 0 3px;
    }

    /* Lateral direita da pagina */
    .MainContainer .Right {
        width: 100%;
        margin-top: 1rem;
        padding: 0;
    }
}


@media only screen and (min-width: 526px) and (max-width: 820px) {
    .MainContainer {
        flex-direction: column;
        height: auto;
    }

    .MainContainer .left {
        width: 100%;
    }

    .MainContainer .left .Banner .TextContainer h1 {
        font-size: 3vw;
    }

    .MainContainer .left .Banner .TextContainer h2 {
        font-size: 3vw;
    }

    .MainContainer .left .Banner .TextContainer p {
        font-size: 2vw;
        margin-top: .5rem;

    }

    /* Cards Geral*/
    .ContainerCards .Filters {
        padding: 2px 0;
    }

    .ContainerCards .Filters .Populares {
        margin: 0 10px;
    }

    .ContainerCards .Filters .Populares h2 {
        font-size: 2rem;
        margin-right: 0;
    }

    .Populares .FilterButtons {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 10rem;
    }

    .Populares .FilterButtons button {
        padding: 0 .5rem;
    }

    .Populares .FilterButtons button a {
        font-size: .8rem;
        margin: 0 3px;
    }

    /* Lateral direita da pagina */
    .MainContainer .Right {
        width: 100%;
        margin-top: 1rem;
        padding: 0;
    }
}


@media only screen and (min-width: 821px) and (max-width: 900px) {
    .MainContainer {
        flex-direction: column;
        height: auto;
    }

    .MainContainer .left {
        width: 100%;
    }

    .MainContainer .left .Banner .TextContainer h1 {
        font-size: 3vw;
    }

    .MainContainer .left .Banner .TextContainer h2 {
        font-size: 3vw;
    }

    .MainContainer .left .Banner .TextContainer p {
        font-size: 2vw;
        margin-top: .5rem;

    }

    /* Cards Geral*/
    .ContainerCards .Filters {
        padding: 2px 0;
    }

    .ContainerCards .Filters .Populares {
        margin: 0 10px;
    }

    .ContainerCards .Filters .Populares h2 {
        font-size: 2rem;
        margin-right: 0;
    }

    .Populares .FilterButtons {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 10rem;
    }

    .Populares .FilterButtons button {
        padding: 0 1rem;
    }

    .Populares .FilterButtons button a {
        font-size: 1rem;
        margin: 0 3px;
    }

    /* Lateral direita da pagina */
    .MainContainer .Right {
        width: 100%;
        margin-top: 1rem;
        padding: unset;
    }
}