.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    width: 10rem;
    height: 15rem;
    margin: 1rem;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}


/* IMG cards*/
.cards .img-produto {
    width: 100%;
    height: 50%;
}

.cards .img-produto img {
    width: 90%;
    height: 90%;
    margin: 0 5%;
}

.cards hr {
    width: 90%;
    margin: 0 .5rem;
}

/* Titulo */
.cards .card-title h2 {
    font-size: .7rem;
    text-align: center;
    margin: 0.5rem;
}

/* Preço */
.cards .card-price span {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.5rem;
    color: blue;
    filter: drop-shadow(.2rem .2rem .1rem #000);
}

/* Estatus */
.cards .card-status {
    display: flex;
    justify-content: end;
    margin: 0 0.5rem;
   font-size: .5rem;
   color: #00ff26;
    
}
